<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Include the LINE SDK -->
  <script src="https://static.line-scdn.net/liff/edge/versions/2.13.0/sdk.js"></script>
  <link href="../static/styles.css" rel="stylesheet" type="text/css">
  <title>Member Profile</title>
</head>

<body>
  <div class="card">
    <img src="{{ pic }}" alt="Profile Picture">
    <h2>{{ data[2] }} {{ data[3] }}</h2>
    <p><span class="emoji">📅</span> Date of Birth: {{ data[4] }}</p>
    <p><span class="emoji">✉️</span> Email: {{ data[5] }}</p>
    <p><span class="emoji">📞</span> Phone: {{ data[6] }}</p>
    <button>Edit ✏️</button>
  </div>
</body>

<!-- Initialize the LINE SDK -->
<script>
  window.onload = function () {
    liff.init({ liffId: '1661524605-5Z902Yep' }, () => {

      if (!liff.isLoggedIn()) {
          liff.login({ redirectUri: 'https://line-bot-payment.onrender.com/callback2' });
        }
      }, (err) => {
      console.error(err);
    });
  };
</script>

</html>






