<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/styles.css" rel="stylesheet" type="text/css">
  <title>Member Profile</title>
</head>

<body>
  <div class="card">
    <img src="{{ pic }}" alt="Profile Picture">
    <p><span class="emoji"></span> Name: {{ data[1] }}</p>
    <p><span class="emoji"></span> Surname: {{ data[2] }}</p>
    <p><span class="emoji">📞</span> Phone: {{ data[3] }}</p>
    <button>Edit ✏️</button>
  </div>
</body>

</html>
