<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Registration Form</h1>
    <form method="POST" action="/link?user_id={{ user_id }}">
        <label for="name">ชื่อ</label>
        <input type="text" id="name" name="name" required>

        <label for="surname">นามสกุล</label>
        <input type="text" id="surname" name="surname" required>

        <label for="phone">📞 เบอร์โทร</label>
        <input type="tel" id="phone" name="phone" required>

        <label for="phone">🪪 เลขบัตรประชาชน</label>
        <input type="tel" id="phone" name="phone" required>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
