<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/styles.css" rel="stylesheet" type="text/css">

  <title>JP beauty Shop</title>

</head>
<body>
    <header>
        <div class="shop-header">
        <div class="logo">
          <a href="{{ url_for('shop', user_id=user_id)}}"><img src="{{ url_for('static', filename='jplogo.jpg') }}" alt="Shop Logo"></a>
        </div>
        <h1>JP beauty</h1>    
        </div>
        
        <div class="cart-button">
          <a class="cart-icon" href="{{ url_for('cart', user_id=user_id)}}"><img src="https://img.icons8.com/?size=512&id=9671&format=png" alt="Cart Icon"></a>
          <a class="cart-icon" href="{{ url_for('order', user_id=user_id) }}"><img src="https://img.icons8.com/?size=512&id=23264&format=png" alt="Member Icon"></a>
        </div>
      </header>
      
  <main>
    <section class="products">
      {% for item in data %}
        <div class="product">
            <img src="{{ item[3] }}" alt="{{ item[1] }}">
            <h2>{{ item[1] }}</h2>
            <p class="product-price">{{ item[2] }} THB</p>
            <form method="POST" action="/additem/{{ user_id }}">
              <input type="hidden" id="user_id" name="user_id" value="{{ user_id }}">
              <input type="hidden" id="user_id" name="product_id" value="{{ item[0] }}">
              <button class="add-to-cart" type="submit">Add to Cart</button>
            </form>
        </div>
        {% endfor %}
        
      <!-- Add more product elements as needed -->
    </section>
  </main>

  <footer>
    <p>&copy; 2023 JP beauty. All rights reserved.</p>
  </footer>
</body>
</html>


